body{
    background-color: rgb(157, 155, 155);
}

.parent{
    overflow: auto;
    margin-left: 250px;
}

.div1{
    width: 300px;
    height: 200px;
    text-align: center;
    border: 3px solid black;
    border-radius: 7px;
    float: left;
}
.div2{
    width: 300px;
    height: 200px;
    text-align: center;
    border: 3px solid black;
    border-radius: 7px;
    float: left;
    margin: 0px 50px;
}
.div3{
    width: 300px;
    height: 200px;
    text-align: center;
    border: 3px solid black;
    border-radius: 7px;
    float: left;
}

.li1{
    display: block;
    margin-top: 20px;
}
.li2{
    display: block;
    margin-top: 20px;
}
.li3{
    display: block;
    margin-top: 20px;
}

.btn1{
    border: 0px;
    background-color: white;
    margin-top: 10px;
}
.btn2{
    border: 0px;
    background-color: white;
    margin-top: 10px;
}
.btn3{
    border: 0px;
    background-color: white;
    margin-top: 10px;
}

.div1:hover{
    background-color: rgb(0, 119, 255);
}
.title1:hover{
    color: white;
}
.btn1:hover{
    background-color: black;
    color: white;
}
.li1:hover{
    color: black;
}

.div2:hover{
    background-color: rgb(0, 119, 255);
}
.title2:hover{
    color: white;
}
.btn2:hover{
    background-color: black;
    color: white;
}
.li2:hover{
    color: black;
}


.div3:hover{
    background-color: rgb(0, 119, 255);
}
.title3:hover{
    color: white;
}
.btn3:hover{
    background-color: black;
    color: white;
}
.li3:hover{
    color: black;
}